[2011-02-23 07:12] Humper opened #1 "reordering ajax code returns False instead of false"
In the reordering ajax code, one of the event handlers returns "False" instead of "false", which is python-->javascript crossover lossage.

[2011-04-29 06:03] #1 closed, assigned to nobody

[2011-05-11 11:10] lukestodola opened #2 "message_set error"
Having upgraded to the newer django trunk ('1.4 pre-alpha') I now get an error about message_set.  Just needs to be migrated to the new messaging framework -- I'm attaching a diff to this ticket.

[2011-08-31 00:43] offonoff opened #3 "css media in template is hardlinked"
the css file in base.html is hardlinked to /media/todo/css/styles.css

it should be {{MEDIA_URL}}todo/css/styles.css

everything else in base is (correctly) linked using {{MEDIA_URL}}

[2011-09-14 15:06] #3 closed, assigned to nobody

[2011-09-14 15:22] offonoff opened #5 "why no personal lists?"
There should be a (simple) way for every user to have a personal list.  Currently the only way to do this is create a group for every user that includes only that user.  For an organisation with many users, this is untenable.

One solution is to modify the list table to include a User, then make Group and User not required, and then use Form, View and save() logic to ensure that one and only one i

[2011-09-15 06:10] #5 closed, assigned to nobody

[2011-12-11 22:30] Psycojoker opened #6 "reordering doesn't works with csrf protection"
Hello,

By default the reordering of todos is blocked by the csrf token, the solution to this problem is here: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax

Since I'm not very experimented in javascript I won't send a pull request because I don't know what is the best way to implement this.

[2012-02-03 08:03] #2 closed, assigned to nobody

[2012-02-04 06:48] #6 closed, assigned to nobody

[2013-08-23 15:45] dparizek opened #9 "direct_to_template deprecated"
from django.views.generic.simple import direct_to_template

direct_to_template has been deprecated, and not available in django 1.5.

Looks like they recommend migrating to class-based generic views, a la https://docs.djangoproject.com/en/1.4/topics/generic-views-migration/

Any chance someone plans to update this project for django 1.5???

[2013-08-31 17:04] #9 closed, assigned to nobody

[2014-06-05 12:42] chaconnewu opened #13 "Do you plan to add support for Django 1.6?"
Hello Scot Hacker,

I am wondering if you have plan to release a version of the django-todo that supports django 1.6. When I integrated django-todo with django 1.6, I got several semantical error in template.

Thanks,
Wu

[2014-08-26 07:34] drojf opened #17 "extrahead block in base.html includes "jquery-ui-1.7.1.custom.css" unnecessarily"
Even if you intended for this to be included in the 'extrahead' block, this would always include a non-existent file, as it's not included in your static files directory, and the version number wouldn't match the latest jquery version since it's hardcoded. So i'm guessing you added it when you were testing it, but then forgot to remove it later?

The offending line is base.html, line 9

[2014-08-26 19:45] #17 closed, assigned to nobody

[2014-08-26 19:53] #13 closed, assigned to nobody

[2015-06-07 09:26] leonwiskie opened #22 "Django 1.8.2 warning and error in todo model"
Juist some pointers easy to fix but juist in case you run in to them:

ERRORS:
todo.Item.created_date: (fields.E160) The options auto_now, auto_now_add, and default are mutually exclusive. Only one of these options may be present.

WARNINGS:
todo.Item.priority: (fields.W122) 'max_length' is ignored when used with IntegerField
	HINT: Remove 'max_length' from field

[2015-06-07 16:16] shacker commented on #22
Thanks for the report - I'll get these taken care of soon (pull requests welcome).

[2015-06-15 07:31] shacker commented on #22
Fixed, thanks.

[2015-06-15 07:31] #22 closed

[2015-09-02 17:53] bittner opened #23 "Release version 1.5 to fix SystemCheckError in Item model"
For some reason I get a SystemCheckError when I run `python manage.py check` (was `validate` until Django 1.7) on a project using django-todo with Django 1.8:
[code]
The field provoking the error is [created_date](https://github.com/shacker/django-todo/blob/master/todo/models.py#L45) in the `Item` model.

[2015-09-02 17:56] bittner commented on #23
This is obviously a duplicate of #22.

Would be nice if we could release version 1.5 that fixes the issue. Is this doable?

[2015-09-02 18:12] shacker commented on #23
Odd - I thought this was fixed. I'm very booked for the next 10 days but can look it after that. In the meantime it should be an easy fix if you don't mind digging into the model code (pull request welcome!) Sorry about this.

[2015-09-02 20:37] bittner commented on #23
That *is* fixed. But not in the release version (1.4 on PyPI). We need to release the changes in the repository to PyPI as a new version.

If you don't mind I can do the release. I think I do have the privileges to do so.

[2016-01-05 17:32] bittner commented on #23
Looks like this issue [is fixed](https://pypi.python.org/pypi/django-todo).

Odd that I didn't close the issue after uploading the package to PyPI in September. I apologize.

[2016-01-05 17:32] #23 closed

[2016-01-05 17:54] bittner opened #25 "Is `MissingSuperuserException` really needed?"
When installing `django-todo` with a project you can't run the project, because the package throws a `MissingSuperuserException`:
[code]
The exception comes from the [settings module](https://github.com/shacker/django-todo/blob/master/todo/settings.py#L11).

Is this really needed? This way you can't run a project that has no use for a superuser or manages all administration tasks from the command

[2016-01-05 18:43] shacker commented on #23
Thanks again!

[2016-01-05 21:24] shacker commented on #25
Hmm, I wonder how common this scenario is. In 10 years of Django dev and dozens of projects, I have never worked on a project that lacked a superuser. The limitation was put there because there was no way to bootstrap a new project with todo as its only app. I guess I would argue that there's always a compelling reason to have a superuser (this use case is just such a reason). And there's no real

[2016-01-05 23:38] bittner commented on #25
I would say, if I create a new list it's my personal list. My personal TODO list.

If I want to do more, use the app in an organization, I go ahead and create a superuser on the command line, then I create more users  (if my site doesn't support self-registration), user groups and lists.

I feel requiring a superuser (in an app) is an arbitrary limitation. It's not necessary, or at least it should

[2016-01-06 07:06] shacker commented on #25
I misspoke - it's already the case that people can create their own lists. The MissingSuperUser raise was put in place just to support the DEFAULT_ASSIGNEE for public tickets. But you're right - there's no reason that assignee has to be a superuser - that was just me assuming that all projects have one. I'll fix that.

[2016-01-06 07:28] bittner commented on #25
Does a task have to be assigned to a user? Can't there be unassigned tasks? By default, maybe?

I know that in IT we put things we know that need to be done into a backlog, without specifying who should deal with that. It's just important that the task is created, so that the information is not lost.

Whoever starts to work on it will assign her-/himself to it ("pull" in an agile environment), who

[2016-01-06 08:00] #25 closed

[2016-01-06 08:00] shacker commented on #25
Now just requiring default_assignee in settings when using the anon ticket submission feature, not superuser for all.

[2016-01-06 08:38] shacker commented on #25
You make a very good point re: unassigned tasks. Let me think about that a bit.

[2016-03-07 14:15] patroqueeet opened #26 "your link is down"
http://birdhouse.org/software/2008/09/django-todo/

[2016-03-07 16:53] shacker commented on #26
Thanks! Fixed.

[2016-03-07 16:53] #26 closed

[2016-04-08 11:52] wpmr2 opened #27 "error in list_lists view after pip install"
Hi there,

Apologies if this is incorrect information (I am pretty new to python!) but there appears to be an error in version 1.5 of the todo app, or at least in the pip install.

When trying to access lists as a non-superuser, I receive:

After poking around, I found line 55 of the view.py file to read as follows:
        `list_list = List.objects.filter(group__in=request.user.groups.all).order_

[2016-04-08 13:53] bittner commented on #27
Well spotted! How could that stay in the code unnoticed for so long? It's probably time to add some tests.

I think this mistake is less likely to happen when statements like that are split up into 2 lines. The code also gets more readable and self-explanatory:

[code]

Do you want to prepare a pull request?

[2016-04-08 14:20] wpmr2 commented on #27
Great - I'm glad I wasn't making a mistake! I agree re. splitting the statements.

I'm not entirely sure what to do re. pull requests, particularly as the mistake isn't actually in the views.py file on github and the error is being introduced during pip installation? Any help would be much appreciated.

[2016-04-08 14:35] bittner commented on #27
Hmmm, when looking at the code (HEAD revision) it's all correct. The braces are there: [views.py](https://github.com/shacker/django-todo/blob/master/todo/views.py#L55), line 55

Oh, I see: The changes that fixed the problem have been recently introduced, in [commit 8ee2811](https://github.com/shacker/django-todo/commit/8ee28118fec0661c6758556515bdfa1e31c49184). And the [1.5 version released on PyP

[2016-04-08 15:30] shacker commented on #27
Good sleuthing @bittner and thanks as always for handling the pypi releases. I actually was planning to introduce this weekend the new feature we discussed - adding the ability to create "Anyone" tickets. If you can hold off for the weekend, we can get that in place. Unless you think it makes sense to do two pypi releases.

[2016-04-08 17:09] bittner commented on #27
Perfect! Then please go ahead with the feature enhancements. Let's have a 1.6 release as soon as you're done with that.

## Tests?

What do you think, can you manage to add some first tests, too? Either unit tests (preferably with [py.test](http://pytest.org/latest/)) or even BDD tests (using `behave` and [behave-django](https://pythonhosted.org/behave-django/))? I can then help you with cross-ver

[2016-04-09 19:04] shacker commented on #27
OK, last night I refactored/modernized a bunch of crufty old code in todo, and today I added the ability to file unassigned tickets (these appear in the UI as "Anyone" tickets). Please give it a spin and let me know if you encounter any issues.

As for python 2/3 compatibility, I used to run it in python2 and today created a new virtualenv with python3 and that worked just fine, so I'm pretty sure

[2016-04-10 06:10] shacker commented on #25
Unassigned tasks are now supported in django-todo.

[2016-04-10 06:17] #27 closed

[2016-04-10 15:57] bittner commented on #27
@shacker You're sure we're good there *now*. What about when the next PR comes along? How can you be sure your app will continue to work? You can't.

The only way to protect an app against regression and breakage is tests, which are run automatically when changes are introduced. See how we guard against regression and breakage in [django-analytical](https://github.com/jcassee/django-analytical/blo

[2016-04-10 16:25] shacker commented on #27
Hey, you don't have to sell me on the importance of tests! I know missing tests are a wart on django-todo; just haven't gotten around to it. Back-story: this was the first Django app I ever wrote, 10 years ago, as a way to bring myself up to speed. Over that time I've maintained it lightly, but have never been able to convince an employer to use it instead of commercial offerings like Jira etc. I

[2016-04-10 18:05] bittner opened #28 "Reduce complexity of `view_list` in views.py"
This is not a serious bug, but a QA topic. `flake8` complains that [view_list()](https://github.com/shacker/django-todo/blob/master/todo/views.py#L86) is too complex:
[code]
The function needs some heavy refactoring. Ideally, cyclomatic complexity [should not exceed 10](https://en.wikipedia.org/wiki/Cyclomatic_complexity#cite_ref-mccabe76_3-3).

[2016-04-10 18:26] bittner commented on #27
I've added the basis for automated tests and QA to the project in PR #29.

After merging can you please test the package manually once again to make sure it still works (I removed an import in settings), and [bump the version number](https://github.com/shacker/django-todo/blob/master/todo/__init__.py) to 1.6, please? I'll then push version 1.6 to PyPI, and we can party.  :tada:

[2016-04-11 06:53] shacker commented on #28
I agree this function is getting kind of ridiculous, but am not seeing the flake8 warning against this file, either in Atom with the flake8 linter, or with the flake8 CLI. How can I reproduce this?

[2016-04-11 07:01] bittner commented on #28
I've set `max-complexity` to 21 [in tox.ini](https://github.com/shacker/django-todo/blob/master/tox.ini#L23) to make `flake8` pass. If you set it back to 10 you get the complaint.

BTW, all you need to do is run `python setup.py test` for flake8 to run. No need to install anything (apart from `virtualenv`) as mentioned in the README.

[2016-04-11 07:15] shacker commented on #28
OK, I see it now. The view does a lot, and the function for the view reflects that complexity. Is this a case where the linter might be encouraging us to abstract out things that really don't warrant abstracting? I've pushed some small optimizations, but looking at it, I'm having trouble seeing how things could be more DRY.  Ideas? And is this a 1.6 blocker or not?

[2016-04-11 07:44] bittner commented on #28
I think what cyclomatic complexity is trying to tell us is that there are more `if`'s and `elif`'s that you can easily understand (without sitting in front of the code rather long, with the potential danger to overlook some serious issue). Code should be simple and straight-forward. The easiest way to do this is split long functions up into several ones, and give each sub-function a self-explanato

[2016-04-11 11:57] bittner commented on #27
I've released [version 1.6 on PyPI](https://pypi.python.org/pypi/django-todo). Let's party!

[2016-04-11 15:11] shacker commented on #28
Yeah, I'll have to sit down with that one day for a closer look. Meanwhile, the version has bumped to 1.6 and we're ready to go. Thanks again.

[2016-04-11 15:21] shacker commented on #27
Awesome, thank you! I'll get that Travis repo set up tonight, hopefully.

[2016-07-27 16:37] renegadeofunk opened #30 "Slug names conflict"
Hello,

I'm using this as a helpdesk/ticketing system and I noticed that if two lists in different groups have the same name then they generate the same slug name and a later get() will get that "more than one result" error. Line 94 in views.py.

I was able to fix it for myself by manually updating the slug names in the database to be different from each other.

Thanks!

[2016-07-28 07:15] shacker commented on #30
Thanks for the report! This has been fixed in 9c3000f572d4b6749e9eaee400f8d04a0b61f45f

[2016-07-28 07:15] #30 closed

[2016-08-02 08:35] shacker commented on #28
Did a lot of work tonight to fix some broken tox tests and refactored `view_list` to bring complexity down to 10. There's probably more work to be done but this feels better already.

[2016-08-17 00:21] ryangoins opened #31 "Variable in view_list template missing period"
The {{ listid }} variable should be {{ list.id }}. Thanks @shacker for the great app

[2016-09-23 19:07] shacker commented on #31
Thanks for the report and sorry for the delay. This has been fixed.

[2016-09-23 19:07] #31 closed

[2018-01-30 00:43] cun3yt opened #34 "Compatibility with Django 2.0"
The package fails if you try to install with Django 2.0.

[2018-02-02 08:25] shacker commented on #34
Thanks for the report - I'm working on this actively now and hope to have a compatible version soon!

[2018-02-11 06:55] shacker commented on #34
Update: This has turned from a minor project to bring compatibility into a full django-todo 2.0 update. So it's going to take a little time! (a week or two).

[2018-02-19 13:13] pavankomarina opened #35 "css and javascript files are not loading"

[2018-02-19 18:02] shacker commented on #35
@pavankomarina If you view source, do you see anything inserted where the `{% block extrahead %}` is in the template?

[2018-03-15 05:57] shacker commented on #28
This is fixed in the upcoming version 2. Sorry for the long delay!

[2018-04-01 04:29] datatalking opened #36 "how to run django-todo in mezzanine"
Would this app work on something that is also written django or more specifically in mezzanine? I have a django page up and running, but it badly needs a todo app like this. I am interested in reposting to this page and mezzanine a link when I figure out how as well as the code.

[2018-04-01 07:04] shacker commented on #36
@datatalking django-todo is *specifically* written as a reusable app, i.e. suitable for being dropped into any existing django project. I haven't tried it with mezzanine but would certainly expect it to work fine there. However, stay tuned - django-todo is in a period of very heavy development and I'm preparing to release a completely rewritten version 2.0 in the coming weeks. You might want to ho

[2018-04-01 07:05] shacker commented on #36
@datatalking wrt the subject line of your ticket, I'm not sure what you mean by "merge" -- think of reusable apps in Django as plugins.

[2018-04-07 21:04] shacker commented on #36
@datatalking Yes there is absolutely a learning curve! Keep at it. I'm still not sure what your question is - again, this is a reusable app, designed to be dropped into any existing Django site. I don't know Mezzanine but if it's a "normal" Django site, this should just work. If you have questions about how to install reusable apps into Mezzanine, you should ask people on that project.

django-tod

[2018-04-07 21:04] #36 closed

[2018-04-13 00:10] datatalking opened #37 "CSV import"
While I found a few general CSV or TSV import libraries is there any recommendation or specific support for one?

There is a large amount of data that I want to load into my Django and it frequently comes in via excel or CSV files, all of which has to be loaded into Django.

[2018-04-13 06:30] shacker commented on #37
This is a very good idea. I like it. The CSV would have to be very rigidly formatted (unless we provided a mapping tool, which would be complex). Basically every field on the Task object in django-todo would need to be specified in the right order. And maybe a dropdown to let you select which list it should go into. The tool would be available to Staff users only (or would a command line tool be a

[2018-04-29 05:57] datatalking commented on #37
Yes, I have about 25 different values, will have to play with a main importing function then a hub people could connect to. Any aesthetic or technical requests for this?

[2018-04-29 17:29] datatalking opened #38 "django mezzanine install of your django-todo app"
I currently have a django/mezzanine app that runs and when I install this app i get a couple errors.

mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.0 requires cython, which is not installed.
Installing collected packages: unidecode, django-todo
Successfully installed django-todo-2.0.3 unidecode-1.0.22

It says error but then says successful django install, so I figure thing

[2018-04-30 01:06] datatalking commented on #38
I should append this to note that I am trying to load this app in a pythonanywhere 2.7 container.

[2018-05-01 06:24] #38 closed

[2018-05-31 15:46] adamarla opened #39 "Attachment support"
Have you considered adding support for attaching documents/images to tickets?
We like the library but attachment support is a non-negotiable for our users. Would be happy to add a feature that provides this too if you can help with some direction. Thanks!

[2018-05-31 17:00] shacker commented on #39
Interesting idea! In all these years, this is the first time I've had this feature request. I would be very open to a pull request for this. Definitely write it in Python3/Django 2+. Please make sure it's an optional to enable via settings, following the pattern of existing settings for django-todo. And if it all possible, please add a test or tests. And document the implementation for anyone who

[2018-12-15 11:10] multun opened #41 "Mail queues support"
### What ?

It might sound a little bit insane, but I would like to implement mail queues support.
The usecase is quite simple: making sure every mail of a given mailbox gets an answer.

Whenever a new mail is received, if it's already registered somewhere, comment the existing issue with the plaintext version of the received email. Otherwise, create a new issue.

### How ?

- A new model represen

[2018-12-16 07:40] shacker commented on #41
This is interesting, @multun , and is certainly in line with how some of the more advanced bug trackers work. If we do it, I want to make sure it is non-intrusive and fully optional. I can see two new settings being needed:

- TODO_EMAIL_INTEGRATION = True/False
- TODO_EMAIL_INTEGRATION_ADDRESS = 'foo@example.com'

All features related to this proposal would be contingent on the value of `TODO_EMA

[2018-12-17 08:01] multun commented on #41
In order to attach an email to an existing thread, some additionnal metadata has to be kept (the message id)
Furthermore, an email doesn't have the same attributes as a regular comment : no user created it, but it comes from a source address. The additionnal model would be there to avoid messing the comment model up.

Why ? the worker could directly push its things to the database.

A worker is in

[2018-12-19 01:13] datatalking commented on #37
Ok lets start with the first ten, and go from there. I can write tests but I'll need to know the values we are testing for as I'm relatively new to writing tests.

[2018-12-20 00:38] multun commented on #41
@shacker PR #43 features a prototype implementation, what do you think?
I think you were right about just adding attributes to the comment, it currently isn't that great looking

[2018-12-20 07:22] shacker commented on #41
I disagree with "no user created it." If the incoming email matches the email of a registered user, then we can assume that user created it, and it can be posted as a regular comment by that user. We would have to decide what to do with incoming emails that don't match the email of a registered user - I would assume we discard them, presumably with a "Sorry..." email response.

Thanks for the PR,

[2018-12-20 09:16] multun commented on #41
Discarding these would mostly defeat the purpose of email tracking, which in my case, would be tracking the progress of tasks submitted by email. With the current implementation, everyone is able to create a task and comment it, without even having to access a web interface. Even better, the end user has no idea the task even exists, so that regular task comments can be used to track the progress

[2018-12-20 20:01] shacker commented on #41
OK I see where you're going with this now. Up to now I've been thinking about this feature as supporting an alternate path for registered users -- to get support via email rather than through the web UI (since that's a workflow I'm used to at work). The current `external_add` view is in fact an authenticated view:

[code]

So if I understand correctly, you also want to change this aspect of django

[2018-12-21 07:49] shacker commented on #37
pytest can officially run standard unit tests (it is backwards compatible) but pytest are so much more capable and easier to read. For consistency, it sure would be nice if you include them in pytest format. See the existing tests directory in this project for examples.  Not sure what you mean by "what the values are" - you will get the CSV importer up and running, and importing a csv should resul

[2018-12-21 07:50] shacker commented on #39
@adamarla Are you still interested in contributing this feature? Would anyone else watching care to contribute towards it?

[2018-12-21 09:35] multun commented on #41
Well not really, but if you want to why not?

I don't think anything can be done at all when it comes to emails ? filtering is done upstream already. The emails are pulled from the INBOX folder by default, messages classified as junk don't get there at all.

The fact they have to know the message id of a message from an existing thread, which doesn't sound realistic when it comes to spam. We don't

[2018-12-21 18:03] shacker commented on #41
I think we're using "spam" in different context. I'm not referring to typical email spam finding its way into the system, but more like weblog spam, where a sender's goal is to get their ad or URL into your system. If a person knows that all they have to do is send an email advertising Joe's Garage to foo@example.com and it will appear in the ticket list for all users of the system, that's going t

[2018-12-21 18:49] multun commented on #41
Well creating tickets for new emails is the point of this feature. It isn't the regular mail tracking other bugtrackers might do: the mail tracking feature isn't there to track the progress of the conversation, it's the other way around.

Once an organization reaches a critical mass of about 25 people, it starts to get very hard to keep track of inbound emails without forgetting some, or answering

[2018-12-22 07:48] shacker commented on #41
OK, I finally understand your vision. I was concerned that anyone visiting the bug tracker would see any inbound spams, but of course the "tickets" queue (or whatever) would only be visible to administrators of that queue. Therefore you're right that it's very similar to using a shared mailbox where all admins of that box see the same spam, but no one else does.

How about this: Introduce another

[2018-12-22 09:25] josephlee94 opened #44 "RuntimeError: Model class django.contrib.sites.models.Site while trying to deploy"
RuntimeError: Model class django.contrib.sites.models.Site doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS.

[2018-12-22 09:36] #44 closed

[2018-12-22 09:37] josephlee94 commented on #44
Apologies, solved it - didn't read the instructions properly

[2018-12-22 10:44] multun commented on #41
How is that different from not starting a worker? Unless an initial email is sent when a ticket is created, there would be no way to even comment.

o/

I have no idea. You're the one that would have to do it in the end, so it's all up to you!

[2018-12-22 17:14] shacker commented on #41
No I'm talking about *with* the worker running. Implementers running the worker would, I think, be most likely to be willing to accept comments via email on existing tickets, but would not be willing to have new tickets *created* by simply sending an email. I don't think it's a safe assumption that just because the worker is running, implementers are willing to open it up that wide. Because of its

[2018-12-22 20:00] shacker commented on #44
Good to hear you got it working.

[2018-12-23 01:18] adamarla commented on #39
Sorry, not at the moment, we ended up not using this library.

[2018-12-23 06:31] shacker commented on #39
@adamarla OK, I'll add it to the todo list as it's a good idea, and will leave this issue open in case anyone wants to pick it up.

[2018-12-23 13:13] multun commented on #41
Then how would you like emails to be attached to existing tickets? Currently the algorithm relies on the message id of existing email comments. If there's no email comment in the first place, you can't attach new comments.

It would. The current version of the mail tracker is configured as a producer / consumer pattern. Currently, there's only one consumer, which is a mail tracker. I would like to

[2018-12-31 08:06] datatalking commented on #37
I was curious that I would be the first one to create an importer for data into a Django app and found that Django has built in JSON app. So this might be multiple functional uses; a format selectable, multi document importer to Django as a side app for the current built in JSON recognition?

[2019-01-07 01:44] shacker commented on #41
@multun Sorry to leave you hanging for so long! Returned from holiday to some work pressures (which are ongoing).

OK, that makes sense to me. Thanks for thinking this through so carefully. Go ahead and implement it as you've envisioned, then we can modify / add another consumer later, as needed. Can you get full documentation into the next commit, and we'll see how close to ready we are. Thanks!

[2019-01-08 14:39] ezzra opened #45 "search in comments as well"
the search function does not find words within comments, that could be helpful when implemented

[2019-01-08 19:01] ezzra opened #46 "python 3.6 is required"
The readme states, that python3.3+ is required, but because of the f-strings one needs to run python3.6+

[2019-01-08 19:13] ezzra opened #47 "is TODO_STAFF_ONLY used?"
sorry for issue spamming, but just setting this up :)

I wonder if setting `TODO_STAFF_ONLY = True` does have any effect, I can still add tasks and lists with a non staff user, actually I cannot find any use of `TODO_STAFF_ONLY` in the code

[2019-01-09 07:03] shacker commented on #45
Not a bad idea. With larger databases with millions of comments, this could make search expensive (slow). We might want to make it a settings option for that reason. Also, it means searching two different models rather than one, so it's a more complex proposition, but I can see the use case. I'm going to let this one simmer for a bit, unless someone contributes code for it.

[2019-01-09 07:14] shacker commented on #46
Good catch, thanks. The correct Python version was already specified in the Pipfile, but I've updated the mention in the documentation in v 2.1.2.

[2019-01-09 07:14] #46 closed

[2019-01-09 07:42] shacker commented on #47
Aha! This was working in todo v 1.x, but support for it was lost in the transition to v 2.x.  Thinking about it more, it would be nice to be able to set access permissions for each of the 10 views, but it will require some careful thinking to do that in a way that doesn't require people to fork the codebase and do their own customization. But let's at least get it working again as it was in v 1.x.

[2019-01-10 08:41] shacker commented on #47
This is fixed in 91b9a099a30274ce8bae6d705fcd0a5150159739. All views now check for the project-level TODO_STAFF_ONLY setting. If False or unset, all users can see all views (but some views still have internal checks to ensure that only staffers can add or delete lists, e.g.).

Adds tests to confirm.

[2019-01-10 08:41] #47 closed

[2019-02-07 11:22] multun opened #48 "CSRF on task deletion / mark done"
Tasks are deleted / added with a bare GET request, without CSRF protection.
Redirecting a privileged user to this link http://django-todo.org/todo/delete/42/ results in task 42 being deleted. Same holds for marking tasks as done.

[2019-02-07 16:29] multun commented on #48
@shacker what do you think ?

[2019-02-08 07:32] shacker commented on #48
GET requests never need CSRF protection, only POST. But one should never alter stored state through a GET request and this *should* be a POST request. I know better. Will fix, thanks for the catch.

[2019-02-08 09:28] multun commented on #48
well they need a protection, but it can't be implemented, that's why people use POST

o/ I wish I had time to fix it myself, sorry about that

[2019-02-10 19:12] shacker commented on #48
GET requests still need *permissions* protection, but not CSRF protection. If a GET request is always idempotent per standards (i.e. they don't ever change state on the server), then it's not needed.

I've just rewritten the task_delete and task_toggle_done views to use POST rather than get, and released version 2.2.1. Ironically the trickiest aspect of this is not the Python, but the fact that ea

[2019-02-10 19:12] #48 closed

[2019-02-11 07:31] shacker commented on #41
@multun Just checking in - did you intend to continue this work, or should I close this issue? I think our philosophies on it differed a bit, so I'm not concerned if you want to continue the work on your own fork. Just let me know please.

[2019-02-12 08:58] multun commented on #41
@shacker I actually intend to continue this work (I even believe it's now ready). I'll be updating my pull request in the coming days.

I don't think the internet needs one more fork ;-)

[2019-02-25 11:09] ezzra opened #49 "dev libraries in pipfile"
pipfile is currently:

[code]

shouldn't `pytest`, `pytest-django`, `flake8`, `factory-boy` be in `[dev]` ?

[2019-02-25 13:59] ezzra opened #50 "create lists also by non admin users"
Is there a specific reason, why only staff/admin users are allowed to create lists? I would like to allow users to create without having access to admin pages. Is that just a lack of permissions or is there an other reason for this?

[2019-02-25 16:47] shacker commented on #50
Interesting question. I think I was just going for a safe "least privilege" scenario, and thinking of it like a Jira board where a manager controls the lists and staff work on those lists (which has been the case everywhere I've worked). But  I can imagine all sorts of permissions / privileges scenarios that are different between projects. The challenge is in tackling that in a clean way that scal

[2019-02-25 16:47] shacker commented on #49
Oops yes - will fix, thanks.

[2019-02-26 07:33] shacker commented on #50
I welcome contributions on this feature, fwiw - let me know if interested.

[2019-02-26 07:39] bittner commented on #50
Related issues: #5, #25 -- Aka, we've talked about this before. :smirk:

[2019-03-04 02:40] shacker commented on #49
Fixed in d0212b8a55a6dd87c80fa5d4627879a75875b04a

[2019-03-04 02:40] #49 closed

[2019-03-07 00:39] datatalking commented on #37
I've been wanting to work on this but it's possibly out of my depth right now. The process looks like a django serialization model. https://docs.djangoproject.com/en/2.1/topics/serialization/

It looks like we could serialize the data into Json

[2019-03-07 07:12] shacker commented on #37
I could probably build the feature in a day or less, just struggling for spare time. One wouldn't need JSON or serializers - Python has a built-in CSV reader. Just scoop it in and write out db records. The hard part is the tooling around it - defining the import format, and all of the small decisions to be made during import. Not hard, just need to jump into it.

[2019-03-09 19:31] shacker commented on #37
FYI this feature is now under way and I'm making good progress. Should be done in a few days. Would you be willing to beta test it? (that offer is open to anyone).

[2019-03-10 06:30] datatalking commented on #37
When you say test you mean try to run data through it?

I’m open and have an application that has a few formats I could try.

Sent from my iPhone

[2019-03-11 06:33] shacker commented on #37
Okey doke, all set for beta testing - just check out the `csv` branch of this repo, then see the new `Importing Tasks via CSV` section of the readme for usage notes. This provides both a web upload interface and a management command (`./manage.py import_csv -f /path/to/file.csv`). An example spreadsheet is provided in `todo/data/import_example.csv`.

Please provide any and all feedback - were you

[2019-03-11 12:31] ezzra opened #52 "Mailtracker issues"
first, thank you very much for the new mailtracking feature, I just wanted to start working on such a feature :)

But some issues came up for me:

- had to change `Comment.email_message_id` to `CharField` and remake migrations, because mysql cannot use `TextField` as key and throws an error. `TextField` does not make sense here by the way?!
- `preserve=false` setting does not work for me, emails a

[2019-03-11 12:38] ezzra commented on #52
I will start working on that last issue and connect mailaddresses to accounts..

[2019-03-11 14:53] multun commented on #52
Heyo,

Ouch this is worrying. I wasn't aware of this limitation, and I'm not sure about how it should be handled :/ TextField does makes sense because message-ids have no size limitations, and actually, postgresql doesn't make much of a difference between these.

https://stackoverflow.com/questions/33211540/is-there-anyway-to-create-unique-textfield-in-django-with-mysql-db-backend

What fix would

[2019-03-11 14:58] #41 closed

[2019-03-11 15:01] multun commented on #50
@shacker @ezzra how about https://github.com/dfunckt/django-rules ?

[2019-03-11 15:51] multun opened #53 "The preserve option of the mailtracker doesn't work"

[2019-03-11 16:09] ezzra opened #55 "move task to other list"
is it correct, that there is no option to move tasks to another list, or did I just miss that?

[2019-03-11 16:19] multun commented on #55
You didn't miss anything, there's no such option

[2019-03-11 16:20] multun commented on #55
If you wish to implement it, I suggest you have a look at the task merging code (for the front-end part).

[2019-03-11 16:20] multun commented on #52
@ezzra see #53

[2019-03-11 19:58] ezzra commented on #52
@multun Iam just diving into the tracker.py code, and Iam very confused why you have installed this nested system of related_messages and answer_thread and best_task and so on, why didn't you just take the `In-Reply-To` which is build with the `task_id` in `utils.py` ? It looks like you are planning something with nested comments and discussion thread ?!

[2019-03-11 20:24] multun commented on #52
@ezzra that's sort of it ! this code is about properly handling mail threads. It's not used to create a mail tree inside django-todo, but it just takes in account the tree-like structure of mail threads when considering where incoming emails should go to.

There are two separate things going on here:

- `related_messages` and `best_task` are about finding the most relevant task to attach the messa

[2019-03-11 20:51] ezzra commented on #52
I still don't see the problem or any benefit here. Maybe I don't understand your workflow. In the end, regardless if you take `answer_thread` or `best_task`, its just a `Task` object that will be connected to the new comment. First I do not understand the confusing wording here, but when the track_id is all we need, and its within the header, why not just use it?

I expect users just to answer to

[2019-03-11 21:14] multun commented on #52
I think so, but I'll do my best to make it clearer.

Because it's not always within the headers. The task_id is only there when answering an email notification. If the tracker is suscribed to a mailing list, all threads will be separate tasks, each answer being a comment. In this case, there are no notifications involved at all !

That's not the only usecase: somebody may send an email to the trac

[2019-03-11 21:26] ezzra commented on #52
I see that I have a different usecase at all for the todo tool. I wont use it in way as a client helpdesk, more like the github issue system and the email notification and answering feature is just an easy way so people do not have to login before adding a task or reacting to comments. And I want to keep it simple, thats why I chose the tool in the first way.  So I guess I will need to fork this f

[2019-03-11 22:06] multun commented on #52
@ezzra I would suggest adding a feature flag to make it fit what you want. The patch probably is under 10 lines, and the existing code was designed to be very modular.

The internet doesn't need one more fork, the simple way is the unified way.

If you create one more fork:

 - you won't benefit from security fixes like [this](https://github.com/shacker/django-todo/commit/f526ed51665a9955a7dac2687

[2019-03-12 05:47] shacker commented on #50
I'm a big fan of django-rules, but since todo is a plugin for existing sites, I'm very interested in keeping the number of dependencies as limited as possible. I'll think about it...

[2019-03-12 06:24] shacker commented on #52
@ezzra  - @multun and I had quite a bit of back-and-forth during code review about the same issue you raised - that anyone knowing the email addr can successfully post a task or comment into the system, and the spam possibilities that arise from that. I was very reluctant to allow that to happen.

Multun convinced me that, in a way, the "support" queue is really just shadowing an email address, an

[2019-03-12 06:27] shacker commented on #55
Good suggestion. I welcome a pull request for this (must respect existing permissions of course). Or I'll get around to it eventually.

[2019-03-12 06:28] #53 closed

[2019-03-12 18:06] ezzra commented on #52
Of course Iam totally aware of the disadvantages of forking, but I do depend on the advantages.

However, it looks like you can force a duplicate entry error for `UNIQUE | task_id, email_message_id` if you send twice an email with the same message-id for the same task, just fyi

[2019-03-13 18:10] multun opened #56 "MySQL support broken"
https://stackoverflow.com/questions/33211540/is-there-anyway-to-create-unique-textfield-in-django-with-mysql-db-backend

A unique constraint can't be expressed because of mysql being half-assed. The only fix I can think of is the following:

 - modify the existing migration to add a charfield instead, if a mysql backend is used
 - add a new migration changing the textfield to a charfield if mysql

[2019-03-14 06:12] shacker commented on #56
Geez, that's hacky, though it would work. Is there anything else that can be keyed to? And what do you think of the hashing solution proposed in that SO response?

Can you link to where in the code this is happening?

[2019-03-14 13:30] multun commented on #56
The drama happens [here](https://github.com/shacker/django-todo/blob/master/todo/models.py#L139). Unfortunately, the issue affects all users, not only mail tracker users (the field is added even if it isn't used).

[2019-03-15 06:46] shacker commented on #56
OK, practicalities...

The max length of a MySQL CharField is 255 chars.
Googling for message-id examples, I learn that the theoretical max length is 995 chars.
But the longest example of a REAL one I can find in the wild is 111 chars.
I'm sure it's possible for longer ones to occur, but how likely?

Wikipedia: "A common technique used by many message systems is to use a time and date stamp along

[2019-03-16 10:01] multun commented on #56
we need to do both ! we can't delete the former migration, as it was already published, but it is failing. So we have to modify it. And we have to create one more to reach the desired state.

[2019-03-16 17:37] shacker commented on #56
OK, I agree. Would you mind making a PR for that? Probably the sooner the better.

[2019-03-16 17:44] multun commented on #56
Will do

[2019-03-22 05:52] shacker commented on #56
How is this coming along? Can I lend a hand?

[2019-03-22 11:48] multun commented on #56
@shacker sorry about that x) I'm currently super busy and didn't find enough time to do it

Sure !

[2019-03-23 22:30] shacker commented on #56
@multun Can you review this PR please?
https://github.com/shacker/django-todo/pull/57

I can't test it on mysql, but I have done a full / fresh db test with postgres and it seems fine.

Again, I have not yet pushed  to pypi so I think the number of users of this github version is VERY small, and the percentage of those who use mysql is even smaller. IOTW if this isn't perfect for the few mysql use

[2019-03-23 22:31] shacker commented on #56
And it's green on travis.

[2019-03-23 22:45] shacker commented on #56
Wait... does migration 0008 actually refuse to run for mysql users? If so, this PR isn't going to work and we'll have to do surgery on 0008 itself.

[2019-03-24 15:52] multun commented on #56
I think 0008 refuses to run on mysql x)

[2019-03-24 17:21] shacker commented on #56
Yeah, that kind of sunk in after I posted. OK will re-do this later today.

[2019-03-25 06:05] shacker commented on #56
OK, that made it even easier. Just updated with a simple fix for 0008, removal of 0009, and a separate formatting commit. This might trip up anyone who has pulled from github rather than pypi in the past week, but I'm OK with that - let's move on. WDYT?

[2019-03-25 06:24] shacker opened #58 "Don't crash during re-order if task(s) deleted"
Because the demo site refreshes its db every four hours, and this error is not visible from the front-end, I see this error in logs but others don't - the reorder_tasks view crashes if referenced task IDs no longer exist.

[2019-03-25 06:39] shacker commented on #52
@ezzra A PR is in and almost merged for the MySQL compatibility issue. Based on the discussion above, are there any other items from your original list that you feel still need to be addressed? (I'll want to make a separate ticket for each, or you can). If not, I'd like to close this. Thanks for the helpful feedback!

[2019-03-25 06:44] shacker commented on #45
Based on the dust-up that occurred in #52, it's clear we have MySQL users, and we can't use anything postgres-specific unless the project makes a decision only to support Postgres. Part of me would love to do that, but I think the decision to go postres-only is up to individual projects and shouldn't be enforced by 3rd-party apps like this one. As long as Django supports MySQL, django-todo should

[2019-03-25 10:55] xor0x opened #60 "WYSIWYG Editors"
Hello, how i can change the standard text to WYSIWYG Editors in todo list?

[2019-03-25 14:39] #60 closed

[2019-03-25 14:43] #56 closed

[2019-03-25 14:45] #58 closed

[2019-03-25 14:54] xor0x opened #61 "Empty Comments"
Problem with comments.  Why is it possible to leave an empty comment. It is Bug?

[2019-03-26 06:11] shacker commented on #60
I see you closed this issue before anyone could respond, but briefly: This feature is not built into django-todo, as there are many wysiwyg editors avaialble out there, lots of tutorials and instructions on how to integrate wysiwyg into Django projects. Pick your favorite and go for it!

[2019-03-26 06:12] shacker commented on #61
Good discovery - will fix!

[2019-03-26 06:20] shacker commented on #37
Sorry, we never heard beta feedback. But we do have tests! The CSV import feature is now merged into master, and going to pypi shortly.

[2019-03-26 06:20] #37 closed

[2019-03-26 06:44] shacker commented on #61
Fixed in 6996c2584298301cc3dd2274d906458624e0fea7

[2019-03-26 06:44] #61 closed

[2019-03-26 06:57] xor0x opened #62 "Add comments"
After adding a comment. I'm doing a page update is added another same comment.  If I'm write the first comment "Test" and i refresh page two times i have three comments with "test"

Example http://django-todo.org/todo/task/475682/

[2019-03-26 07:09] shacker commented on #41
2.3 is released to pypi, with mail tracker and CSV import support. Just wanted to thank you again, @multun, for this excellent contribution. Cheers!

[2019-03-26 08:08] xor0x commented on #62
Now in new version problem with add comment.
i cant add a comment have error
ConnectionRefusedError at /todo/task/1/
[WinError 10061] No connection could be made because the target machine actively refused it

[2019-03-27 06:57] shacker commented on #62
I am having an issue with django-todo.org that may take a couple of days to work out. Sorry!

That is unrelated to your local issue, which looks like maybe your database server is not running?

[2019-03-27 07:21] shacker commented on #62
Are you using postgres version 9.3 or lower by chance? That is no longer supported by django and may be the cause of your issue (it is in fact related to the current django-todo.org downtime).

[2019-03-27 07:31] xor0x commented on #62
I'm working with SQLite. Need work with Postgres?

[2019-03-27 10:13] xor0x commented on #62
Ok. Now I'm using PostgreSQL. The problem does change. But if i'm commented this code:
    send_email_to_thread_participants(
        task,
        request.POST["comment-body"],
        request.user,
        subject='New comment posted on task "{}"'.format(task.title),
    )
in task_detail.py it is work perfectly.

[2019-03-27 15:16] shacker commented on #62
Interesting, I will do a test with sqlite to see if there is a new issue there I don't know about.

It sounds like the rest of your issue is about mail sending, rather than databases. Is your project already set up to send email, as mentioned in the documentation? A quick way to get around it would be to have email sent to the terminal rather than to a mail server. Add to settings or local setting

[2019-03-27 18:51] xor0x commented on #62
What i need to do with this TODO_MAIL_BACKENDS and TODO_MAIL_TRACKERS please send me example how i need setap email

[2019-03-28 06:51] shacker commented on #62
Are you sure you need those? Are you actually trying to set up mail tracking? If not, then DON'T set them!

If you *are* trying to set them up, please let us know what in the documentation is not working for you - the examples look pretty clear to me.

[2019-03-28 07:17] xor0x commented on #62
Sorry, my friend. Now it is work perfectly. I'm so stupid.

[2019-03-28 07:27] xor0x commented on #62
But you have problems with comments. I'm set this script in base.html.
        <script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
Now it is work perfectly.

[2019-03-28 23:36] Abdisalanvp77 opened #63 "demo site not working"

[2019-03-29 06:38] shacker commented on #63
Yeah that was quite an adventure. With the latest 2.3 release we had a migration that failed with postgres. Only then did I realize I was running an older/unsupported postgres version on the demo site. When I tried to upgrade postgres, everything went wrong. Finally realized it was time to create a new droplet on digital ocean which meant re-learning how to set up systemd, gunicorn, nginx, etc. I

[2019-03-29 06:38] #63 closed

[2019-03-29 06:41] shacker commented on #62
Sorry for the downtime on django-todo.org. The demo site is back up and running.

What is the problem with comments? They seem fine to me, I see no errors, have never had a complaint. What does your javascript do or aim to "fix?"

Closing this as the OP was due to a documentation misunderstanding.

[2019-03-29 06:41] #62 closed

[2019-03-29 06:43] shacker commented on #52
Closing this for now, but would love to hear confirmation from your or another mysql user that all is well with the 2.3 upgrade on mysql.

And feel free to open individual tickets if any of your issues in the OP still need addressing.

Contributions always welcome!

[2019-03-29 06:43] #52 closed

[2019-03-31 05:33] xor0x opened #64 "Comments Bug"
You have a bug in comments please open this video
https://youtu.be/dJDMX33Y22g

[2019-03-31 05:37] shacker commented on #64
...but you are hitting Refresh each time, right? I should probably redirect back to the original page after posting a comment so that's not possible, but I would consider that an enhancement rather than a bug. Easy though, will do.

[2019-03-31 07:31] xor0x commented on #64
I do this with the script on base.hml
<script>
if ( window.history.replaceState ) {
window.history.replaceState( null, null, window.location.href );
}
</script>

[2019-03-31 07:38] shacker commented on #64
Suggestion: Rather than paper over with javascript what you perceive to be a bug in the app, instead submit a pull request that actually fixes it in the app itself. The flow for this is well-documented in the Django docs.

[2019-04-05 17:23] james1293 opened #65 "Feature idea - assign task to multiple people"
Hello all,
I just started using Django todo, and I love the simplicity of it. I recently hacked together a fork (locally, not on GitHub) that allows a task to be assigned to multiple users. It's not perfect yet, but would this be something worth sharing? If so, would it be the sort of thing that would stay as a fork, or could it be incorporated into the main project repo?
(I haven't contributed mu

[2019-04-05 19:59] swamybachu commented on #39
Anyone watching has a update on this.

[2019-04-06 06:40] shacker commented on #39
No one has contributed code for this yet, but it shouldn't be difficult and seems like a good idea. I'll make it the next priority if no one else jumps in with a PR.

[2019-04-06 06:48] shacker commented on #65
Hi James - this is a great idea. It should be as simple as converting the ForeignKey from Task to User to a ManyToMany field, and modifying the UI to allow multi-assignment. It would also have to ensure that emails are sent to all of the right parties.

The general process for contributing to open source on github is this:

1) Fork the project (you already have)
2) Make your changes in a branch an

[2019-04-08 00:46] mpenning opened #66 "Please document user _and_ passwords for the demo site"
Please document user _and_ passwords for the demo site

[2019-04-08 06:13] shacker commented on #66
Hi @mpenning - Do you mean that the instructions on the front page of django-todo.org are not clear? And that page is included in the repo for the example shell site. Not sure what is missing. Clarify please?

[2019-04-08 11:46] mpenning commented on #66
Thank you for making it clearer now.

[2019-04-08 11:46] #66 closed

[2019-04-11 07:04] shacker commented on #39
Hi @adamarla @swamybachu - File attachment support is now enabled and released in django-todo 2.4.x , which is available on pypi and running on django-todo.org (feel free to test it there).

Let me know what you think! Closing this issue, but comments or contributions welcome.

[2019-04-11 07:04] #39 closed

[2019-04-17 19:57] swamybachu opened #68 "No todo folder"
Hi,
I used pip install django-todo to install the app in my virtual env.
Then i added the 'todo' to the INSTALLED_APPs in settings.py , and migrated the todo app, and everything.
After that i ran the server and i am able to get in the admin site( i created a superuser), but i cannot get in the todo app.( i added this in urls.py as well)
    path('',include ('todo.urls')),

What am i missing.

[2019-04-18 05:30] shacker commented on #68
@swamybachu Are you saying that visiting the url `/todo` doesn't work? Do you get 404 or a crash? Or do you mean that you don't know how to add it to your site's navigation? Sorry I need more information.

[2019-04-21 15:35] shacker commented on #68
Closing this as there is not enough information in the issue to reproduce or to help the OP. Please re-open if you are still having an issue.

[2019-04-21 15:35] #68 closed

[2019-04-23 03:48] Fandekasp opened #69 "django-todo & wagtail integration"
Hi,

I'm evaluating what are my options to add a task & writer management system to the [Wagtail CMS](https://docs.wagtail.io/en/v2.4/index.html), and I discovered django-todo through [this comment on ls.joyous](https://github.com/linuxsoftware/ls.joyous/issues/7#issuecomment-485625149).

I will spend more time studying the internals of django-todo to see if I could start a wagtail-todo project (o

[2019-04-23 05:38] shacker commented on #69
@Fandekasp I'm a huge fan of wagtail, and used it on a work project for a couple of years, but am no longer current with wagtail. That said, I'd love to see an integration!

First, I think you should separate out from your list above the things that have nothing to do with wagail. Please feel free to create *separate* issues for:

- Recurring tasks
- Trigger-action tasks (these are two quite diffe

[2019-04-23 05:52] Fandekasp commented on #69
@shacker thanks for the quick reply. Glad to see we're thinking alike.

I only recently discovered Wagtail, but I understand we can either [extend ModelAdmin](http://docs.wagtail.io/en/v2.4/reference/contrib/modeladmin/index.html) or [register snippets](https://docs.wagtail.io/en/v2.4/topics/snippets.html?highlight=snippet). That's something I would handle in a wagtail-todo app.

I will create sep

[2019-04-23 05:58] shacker commented on #69
The only roadmap is the features you see mentioned in the Issues here, and the priority is whatever I decide to work on next, or what someone contributes code for :)

And yes, this project is going on 11 years now. It's evolved a ton in that time! It's open source software - if I stopped working on it, I would hand off responsibility to someone else, or you would have 142 forks to choose from :)

[2019-04-23 06:02] Fandekasp commented on #69
alright, fair enough :)

I'll spend some time learning about django-todo and see how it could fit with wagtail, and if I decide to go with it, I'll create the new issues and we can go from there. Thanks again for the fast support!

[2019-04-23 06:02] #69 closed

[2019-04-23 08:44] Fandekasp opened #70 "Make todo.Task swappable"
Usecase: Extend the Task model to add a generic foreignkey to another model.
This will allow us then to set triggers to complete a task when an action is performed on its related model.
Concrete example: Link a wagtail page to a task when creating it, then auto-complete the task when the wagtail Page status field has been changed.

3rd-part code using todo:
[code]

todo suggested modification usin

[2019-04-24 01:38] Fandekasp commented on #70
@shacker fyi, since this is a blocker for me, I'll get started on it now.

[2019-04-24 05:41] shacker commented on #70
@Fandekasp Since the goal here is to trigger task changes when something elsewhere in the project changes, I think a more flexible (and less invasive) solution would be to take advantage of Django's native [signals](https://docs.djangoproject.com/en/2.2/topics/signals/) system.

That would give you or others the flexibility to create additional signals handlers (or arguments to a single handler) w

[2019-04-24 06:04] Fandekasp commented on #70
@shacker Thanks for the suggestion.

I do not see how I can build my feature on signals alone. Maybe you'll have good insight.
As discussed in #69, I'm working on a complex Wagtail workflow, that would go as follow:
* Create a Page with associated todo task "Write the title & keywords". A user will pick the task, then can navigate to the Page in question from the task.
* When the title & keywords

[2019-04-24 06:36] shacker commented on #70
You can do *anything* from your custom signals. I've created a sample pull request demonstrating how the system could be used. This is very bare bones but demonstrates that the flexibility is unlimited:

https://github.com/shacker/django-todo/pull/72

I really think this is the way to go. Less invasive, more flexible, more extensible, more portable to other use cases.

In fact... I need to think a

[2019-04-24 06:41] shacker commented on #70
Your mention of needing "a hook to auto-close the title task" is a good example of a need that's specific to your use case, rather than a general use case. Easily provided by signals.

As to your need for a db relation between Task and Page, that is something you can create from within your project.

[2019-04-24 06:53] Fandekasp commented on #70
@shacker if I understand properly, your thinking goes as follow:
* django-todo models shouldn't have relations with external apps.
* I could create a table to store tuples of task ids, page ids, and workflow step ids within the wagtail-todo app
* signals connected to tasks & page actions could do a lookup on that table to figure out what is connected to what.

This doesn't look appealing :( I'll s

[2019-04-25 06:10] shacker commented on #70
More specifically, fine to create those relationships, but you should create them from within your own project. Modifying core todo models is a pretty tectonic shift and un-needed by anyone else until now. Django projects take a million different forms. The best goal of this app is to stay vanilla and let people integrate it however they need to.

Sure. Or just simple FKs or M2Ms between your mode

[2019-04-25 06:12] Fandekasp commented on #70
@shacker fair enough. Thanks for your support.

[2019-04-25 06:12] #70 closed

[2019-05-10 22:38] MonstreCharmant commented on #65
I tried simply converting the ForeignKey from Task to User to a ManyToMany field, it worked almost correctly, except the task_detail view, where i couldn't update the "Assigned to:" column. However it worked fine when creating a new task, or editing the task from the admin panel. Any suggestion?

[2019-05-11 01:48] james1293 commented on #65
Two things -
You have to add form.save_m2m()
For the list display, I did .join(", ")

I'll post more details when I'm on the computer instead of my phone :smile:

[2019-05-11 06:20] shacker commented on #65
@MonstreCharmant You would need to replace the Assigned To dropdown with some sort of multiple-choice selection widget. Or did you do that already and I'm misunderstanding the question?

[2019-05-11 21:22] MonstreCharmant commented on #65
Thank you guys, I just added `form.save_m2m()`, it worked fine. The code looks like this now, I'm not sure if there is any impact to my data?
[code]

[2019-05-12 00:27] davestgermain opened #73 "Error migrating"
I'm trying to install with Django 2.2 and getting this error when migrating:
[code]

[2019-05-12 07:03] shacker commented on #73
@davestgermain I'm having trouble reproducing this issue. I just upgraded my sample project to Django 2.2.1 and no migrations were required. Then I created a fresh db and migrated it up from scratch - that also went fine. And we haven't seen any other reports of this. Can you tell us anything about your setup that might be unusual?

[2019-05-13 13:35] davestgermain commented on #73
@shacker Sorry, this was a false alarm. My project also uses django-crm, which has its own User and Comment models. I think I'll submit a PR against their project to fix the name clashing. But one thing you could change is the `related_name` [on Comment.author](https://github.com/shacker/django-todo/blob/master/todo/models.py#L134). If you don't expect to query for all of an author's comments, I b

[2019-05-13 13:35] #73 closed

[2019-05-14 06:21] shacker commented on #73
Thanks Dave - I've made a separate note of this suggestion and will have a look into it before long.

[2019-05-20 20:39] james1293 commented on #65
@MonstreCharmant I added `form.save_m2m()` in the same place, and it seems to be working. Would you like to share your fork, or do you want me to share mine? Mine is messy (I commented tests that didn't work any more, and I disabled the email notifications) but I could share it as-is anyway...

[2019-05-22 13:49] james1293 opened #75 "Add to "awesome-selfhosted" list?"
I thought it would be cool to add django-todo to this list. What do you think?

https://github.com/Kickball/awesome-selfhosted#task-managementto-do-lists

[2019-05-23 05:50] shacker commented on #75
Sure why not? Just made a pull request for it. Thanks for pointing this out.

[2019-05-23 05:50] #75 closed

[2019-05-30 14:32] wolong1997 opened #76 "name is Chinese slug will empty"
tasklist name is Chinese  slug will empty

[2019-05-31 06:28] shacker commented on #76
Thanks, I'll look into it.

[2019-06-04 02:39] Fandekasp opened #77 "Settings are ignored"
Related issue: #47
Related code: https://github.com/shacker/django-todo/blob/master/todo/defaults.py#L24

[code]

TODO_STAFF_ONLY is always True, and I don't see how it could have ever worked. the first part `getattr(settings, key, False)` evaluate to either True or False, and the second part always evaluates to True...  `False or True` = `True` or `True = True`.

[2019-06-04 07:35] shacker commented on #77
Great catch, serves me right for releasing that feature without tests.
todo 2.4.8 is released with a fix for this issue. And tests!
Thanks.

[2019-06-04 07:36] #77 closed

[2019-06-04 12:27] saileshkush95 opened #78 "All Group List in not showing in All List Page"
I'm trying to create new task list for new group, But in the drop down  there is only one group is displaying

[2019-06-05 06:14] shacker commented on #78
@saileshkush95 How many groups are in your system? How many of them do you belong to? It's not clear from your post whether there is anything wrong.

[2019-06-09 15:54] #78 closed

[2019-07-07 03:17] datatalking commented on #69
@Fandekasp were you able to make any progress on using this with wagtail?

[2019-07-23 19:19] james1293 opened #83 "Requirements: html2text in Readme?"
This is super minor, but should `html2text` be listed in the Readme as a requirement? It's used by `tracker_consumer`  (`from todo.mail.consumers import tracker_consumer` as shown [here](https://github.com/shacker/django-todo#mail-tracking)).

[2019-07-24 05:32] shacker commented on #83
Thanks, I'll look into it eventually. I don't use that feature in todo, so haven't come across this.

[2019-08-05 20:05] james1293 opened #84 "Saving a completed task makes completed=False"
1. Create a task.
2. Mark it as complete.
3. Edit the completed task.
4. Save it.
5. The task is now marked incomplete.

AFAICT, step 5 shouldn't happen. Thoughts?

[2019-08-07 00:25] shacker commented on #84
Thanks - on break right now, will check into this soon.

[2019-08-07 01:09] james1293 commented on #84
No rush! :slightly_smiling_face:

[2019-09-10 20:48] mikegropp opened #87 "admin.E040) ModelAdmin must define "search_fields", because it's referenced by AttachmentAdmin.autocomplete_fields"
Fresh installation of Django-todo and I am getting this error:

---
Watching for file changes with StatReloader
Performing system checks...

Exception in thread django-main-thread:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.7/threading.py", line 865, in run
    self._target(*self._args, **self._

[2019-09-11 05:29] shacker commented on #87
This is under Django 2.2.5? Not sure I've tested that recent version. Should be trivial to fix; Can you submit a quick patch? If not, I'll get to it soon.

[2019-09-11 12:20] mikegropp commented on #87
Uninstalled 2.2.5 and installed 2.2.1, but throws the same error. Not sure where to start. I tried adding search fields, but to no avail.

[2019-09-11 18:22] mikegropp commented on #87
I've narrowed down the problem to the settings.py file. I will test different settings to see where the issue is at and if I can resolve it. I'll report back in either case.

[2019-09-11 19:04] mikegropp commented on #87
I believe the issue is my custom user. If I remove this part, the server will run without that error, but with the custom user in it won't.

Here is the settings.py file
`"""
Django settings for _____ project.

Generated by 'django-admin startproject' using Django 2.2.

For more information on this file, see
https://docs.djangoproject.com/en/2.2/topics/settings/

For the full list of settings and

[2019-09-19 06:19] shacker commented on #84
Sorry for the long delay. This is now fixed in 2.4.9. Thanks for the bug report and PR!

[2019-09-19 06:19] #84 closed

[2019-09-20 05:46] shacker commented on #83
It's already / has always been [listed as a dependency](https://github.com/shacker/django-todo/blob/master/Pipfile#L15). It should have been installed automatically when you installed todo.

Closing, but let me know if there was another reason it didn't get installed for you. Maybe you weren't using Pipenv? I don't really accommodate other dependency management systems, but I would entertain the p

[2019-09-20 05:46] #83 closed

[2019-09-20 05:59] shacker commented on #76
Sorry for the delay, and thanks for the report. This has been fixed; it is now possible to use unicode characters as the only characters in a list title / slug.

[2019-09-20 06:00] #76 closed

[2019-09-20 06:12] shacker commented on #87
Yes, it makes sense that this is the result of having a custom user model. If you look in todo's admin.py, you see:

[code]

It's those autocomplete fields that are triggering this. They do some nice magic, but they need to know which fields in the target model should be searched as the user types in real time. One of the fields you see here is "added_by" and that references the project User. The

[2019-09-20 06:12] #87 closed

[2019-09-20 06:14] shacker commented on #65
Still hoping that one of you can share your changes back to the mother project here! Pull request please?

[2019-09-20 09:25] MonstreCharmant commented on #65
Yes, will do that. Working on some jobs now, but I'll share my changes once I got some time.

[2019-09-20 11:38] mikegropp commented on #87
Thanks for the insight. It worked!

[2019-09-25 21:38] adux opened #88 "Username and/or Email option"
I got a request to use this app for a particular project that uses allauth with an email instead of username field. So, just to be clear, there is no user.username or so. This of course creates some issues, none of them too difficult to solve, but there's no django-todo native way to do it.

Is there already a solution for this particular situation?
Is there a interests for something like this? I

[2019-09-30 05:55] shacker commented on #88
Hi - Not clear why this issue was closed before we'd discussed it. So I don't think allauth has anything to do with your problem - it sounds like you've set up a custom User model that has no username. I didn't even realize that was possible? Can I see your custom User model?

[2019-10-01 15:12] adux commented on #88
There weren't many changes need to for it to work so i just made the changes in a fork in a bit of a ugly way :)) and i closed it cause to be honest im not sure many people would use this cause good practice probably just sort of duplicates the email to the username ?

And your right, it has nothing to do with allauth.

Here are the main parts of the Custom User model:

`class User(AbstractBaseUse

[2019-10-03 06:54] tboulogne opened #89 "Question : Additionnal fields"
Hello,

I just discoure your project, it's seem nice.
A question : anyway to add additionnel field to request form ?

Thank for help.

Regards,

Thierry

[2019-10-07 05:30] shacker commented on #89
Hi @tboulogne - Can you be more specific what mean by "the request form?" Which form are you referring to?

[2019-10-07 05:32] shacker commented on #88
Got it. One of these days I'll look into this a bit more - it's possible Django provides some abstraction for "user field" that would make it possible to work if you don't have a username. OTOH, I would imagine that TONS of 3rd party libs would break for you - it's kind of globally assumed that all Django projects have a username. You might find life easier if you just add a username field.

[2019-10-09 10:48] tboulogne commented on #89
Hello @shacker,

Thanks for answering. I mean the ticket form. I'm preparing a pull request with some changes. It could be more clear.

If you find this usefull, you will pull it.

Regards,

Thierry

[2019-12-03 09:01] Sasa993 opened #91 "Implementing pagination"
I implemented the pagination into search functionality - and it works great.
But, I'm having some trouble doing that with a list of tasks.
I did everything right in list_detail.py, but the errors keep popping up "'Page' object has no attribute 'filter'"...
Any ideas?

Thank you in advance

[2019-12-05 06:59] shacker commented on #91
Hi @Sasa993 - I don't see a pull request or link here, so there's no way to see your code and thus no way anyone can help you! Is this something you're contributing to the project? Where's the Issue and Pull Request?

[2019-12-07 07:27] Mcflan-7 opened #92 "Not able to add my own path"
Hi,

I tried for several day to make my own function on your app using add_list.py but whenever I want to use it on urls.py, they say that module or function does not exist.

Do you know why ?

Thanks

[2019-12-08 01:59] Mcflan-7 commented on #92
Any update ?
Still not able to figure it out.
Thanks

[2019-12-09 06:44] shacker commented on #92
@Mcflan-7 You have not shared any code, so I don't really understand how you could expect anyone to begin to be able to help you.

Are you trying to make a feature enhancement to django-todo? Where is the pull request?

Share your urls.py, the imports it makes, and the dotted path to your function, maybe we can help you.

[2019-12-12 14:36] tuhaolam opened #93 "Great Job! And then I am wondering that how to develop my version?"
I would like to develop as independent project, with series of task type having different format, such as operation tickets and development tickets.

[2019-12-13 06:16] shacker commented on #93
Hi - I'm not sure what you are asking. Are you asking how to deploy Django projects in general, or something specific about this module? If you're asking about deploying Django, just google it, or join the mailing list, or look on the django subreddit or...

[2019-12-16 13:43] #91 closed

[2019-12-19 08:59] tuhaolam commented on #93
I'm sorry for the confusing description as above. I wanna modify this project to a ticket management system, therefore I need know how to custom-define, and now I have almost finished development.

[2019-12-19 08:59] #93 closed

[2019-12-19 09:48] tuhaolam opened #94 "Can not find the key attachment_set for Task Class, but how can task_detail render normally?"
I have define another class Audit, hence need to custom my template, when I upload a attachment, but the page can not show the attachment, due to the new class don't have the key attachment_set.
More details can see task_detail.html:
[code]

[2019-12-19 17:16] shacker commented on #93
It's definitely intended to be used in a ticketing system, but you shouldn't need to fork the project or modify it in any way. If there are things you need it to do that it is not doing, please file a feature request and we'll discuss it! I hate to see people out there forking open source libraries rather than just implementing them or contributing to them.

[2019-12-20 05:53] shacker commented on #94
Have you proved to yourself that this very task has attachments from the command line?

[2019-12-26 02:54] tuhaolam commented on #93
I feel very sorry for my mistake of  implementing this open source project in the error way. I will correct it. Thanks a lot for your forgiveness.

[2019-12-26 03:18] tuhaolam commented on #94
Yes, at last I found that it's a feature of Django about relational database. The model class 'Attachment' uses the filed 'task_id' of 'Task' as foreigne key, and 'task.attachment_set.count' exists, by the same way, we can define another class 'AuditAttachment', uses the filed 'task_id' of 'Audit' as foreigne key, and 'audit.auditattachment_set.count' exists.

[2019-12-26 03:30] tuhaolam opened #95 "Found XSS security vulnerabilities in task_detail and list_detail being lack of validation of the field 'title'."
https://github.com/shacker/django-todo/blob/befc7ad2cd074c48727a765b8c21aa591e102338/todo/views/task_detail.py and https://github.com/shacker/django-todo/blob/2d40ef471efb78cf9d38b1265d7d397f4a359aa1/todo/views/list_detail.py are both lack of validation of the field 'title',  if the title filed is filled with the poc '><script>alert(document.cookie)</script>', the page will redirect with Alerting

[2019-12-30 06:49] shacker commented on #95
Thanks for the report, I'll have a look soon.

[2019-12-30 06:51] shacker commented on #94
Oh sorry I did not realize you did not know that. Can we close this issue then?

[2019-12-30 06:53] shacker commented on #93
Oh no need to apologize - it's a common thing for people to do. My guideline is that you should only fork when the software doesn't need something you need it to do *and* the maintainer isn't willing to accept a change request to make it do that thing. If you fork unnecessarily you create more work for yourself, and cut yourself off from future upgrades.

[2019-12-30 09:07] #94 closed

[2020-01-07 22:53] multun commented on #95
@tuhaolam thanks for your report. I can confirm there's indeed a XSS issue, but it isn't that bad for a handful of reasons:

 - the XSS is caused by [a misused safe filter in the demo app](https://github.com/shacker/gtd/blob/master/project/templates/base.html#L74). It isn't a bug in the library itself. (see [the django documentation](https://docs.djangoproject.com/en/2.2/ref/contrib/messages/#disp

[2020-01-08 08:41] tuhaolam commented on #95
@multun OK.
Firstly, Let's talk about how XSS happens. The reason is either dealing input params without validation, or output result without encoding or filtering. Therefore, if we deal input params with validation, XSS will be prevented, and I think this is also the reason why [bleach `node` filed](https://github.com/shacker/django-todo/blob/6c31d4446d462e80d690bde013a979b43c9629bd/todo/views/li

[2020-01-08 12:19] multun commented on #95
Woops, maybe I wasn't clear enough about the intent of my comment. Sure, this bug should be fixed.

I already submitted [this pull request](https://github.com/shacker/gtd/pull/10), would you mind testing it?

They still need to get [a django notification](https://docs.djangoproject.com/en/2.2/ref/contrib/messages/#module-django.contrib.messages) with the title inside.

[2020-01-09 07:03] shacker commented on #95
I will get to this this weekend, thanks for the like the conversation and for the PR.

[2020-01-11 23:00] shacker commented on #92
Closing because I don't understand the question and have not heard back from the OP.

[2020-01-11 23:00] #92 closed

[2020-01-11 23:03] shacker commented on #89
I have not seen the referenced pull request come through since October, so am closing this.

In general, if more fields are needed that would be useful to everyone, someone can propose it with specifics. Or, if there is a strong and demonstrable need to make the form more flexible so that people can add their own custom fields, we can talk about that too (though in general for something like this

[2020-01-11 23:03] #89 closed

[2020-01-11 23:24] shacker commented on #95
Thanks for the report, we are now [bleaching the title](https://github.com/shacker/django-todo/blob/master/todo/views/task_detail.py#L101) as well as the comments.  Cheers.

[2020-01-11 23:24] #95 closed

[2020-01-12 21:30] multun commented on #95
@shacker I think the field is only bleached when editing, [not when submitting](https://github.com/shacker/django-todo/blob/2d40ef471efb78cf9d38b1265d7d397f4a359aa1/todo/views/list_detail.py#L55).

But why even bleaching the field?

[2020-01-13 00:32] datatalking opened #96 "Can we add a time blocking element."
The app has been such a great help, we are experimenting with Timeblocking or Timeboxing projects to make us more efficient in a day to day basis.

Django already has a calendar function, could we add a more cognitive function where we schedule todo tasks for specific time slots.

We could start with 1 hour or 15-minute segments in which we address a specific TODO element, this will help us coordi

[2020-01-13 06:57] shacker commented on #96
todo already has a "Due date" option - would it be sufficient for it to be a datetime rather than a date? Or is it important for it to be a time *window*?

I have to say, in 10+ years no one has ever requested this feature, and it's certainly not something I would use. I'm reluctant to add things that aren't commonly needed. Do you have a sense for how many organizations use this sort of "time win

[2020-01-13 07:00] shacker commented on #95
Oh OK I can add it to submit as well (hmm, those really should be the same code, I'll have to look into why they're not -- I assumed they were when fixing this quickly last night).

But what do you mean "bleaching isn't necessary" - what else would you propose? It is *the* way to sanitize inputs from web forms.

[2020-01-13 08:41] datatalking commented on #96
My thought process is like this with time blocking.

There have been many studies that show that long periods of uninterrupted time allow for improved focus.

Also as “switching”, “changing channels” or “multitasking” are known to be bad for productivity.

This would allow the user to work on that one item and when it’s done the next step in the project moves into its place as a sort of priority i

[2020-01-13 10:16] multun commented on #95
It all depends on what you're trying to achieve:

When an user creates an issue called `My great <b>Issue</b>`, you could either:

 - Assume the input is HTML, bleach it before storing it, apply the `|safe` filter when rendering: My great <b>Issue</b>
 - Assume the input is just text, do nothing and let django escape it: My great \<b\>Issue\</b>

I'm pretty sure the second option is the most relev

[2020-01-13 19:10] shacker commented on #95
It's hard to imagine a case where a site owner *wants* to allow html in titles - I think that would only ever happen if the user were malicious, and in that case we don't care about the broken results.

If you or anyone feels strongly that someone might legitimately *want* to allow html in a title, we can tweak bleach args to allow just a couple of tags, like bold and italic and nothing else. How

[2020-01-13 20:14] multun commented on #95
I don't have any either

I don't think we want to allow HTML, I don't need this feature and I would rather like to be able to use `>` and `<` any way I want in my issue titles.

That's why we don't need bleaching. Bleaching is only needed if we want to allow that. Otherwise, we only need to escape the field inside templates (django does it by default, when there's no `|safe` filter.

[2020-01-24 09:11] dalinxz opened #97 "Confirm before delete"
Hey shacker, incredible work on this lightweight but powerful todo app! Thank you.

I had one suggestion for future improvements, which is to add a confirm before deleting the task. Keep it up, really appreciate the work.

[2020-01-24 09:14] dalinxz commented on #45
My app is running Postgresql and it worked without a flaw, I did have to comment out the fieldsets in my CustomUser admin.py file prior to running the migration, otherwise I was getting a duplicate field in fieldset error. After commenting it out, it migrated perfectly, then I was able to uncomment the lines I commented and get back to business.

[2020-02-01 05:32] dalinxz commented on #45
I was having this same issue on constantly having to uncomment the lines in the CustomUser admin.py file, I was able to address it by removing the two fieldsets that were already included on the built-in or allauth model, in my case it was username and email, removing those from the additional fieldsets removed Django from constantly piping about duplicate fieldsets. hope it helps..

[2020-03-08 21:33] shacker commented on #96
Hi, sorry for the delay! It's been a hectic winter. I just re-read your comment and looked again at the app. While it would not be terribly difficult to add a start time and end time to tasks, I am still concerned that this is a feature that no one has ever asked for. In a way, your request sits right at the intersection of todo apps and calendar apps. I think that what you're requesting has more

[2020-03-08 21:33] #96 closed

[2020-03-08 21:47] shacker commented on #97
Good suggestion @dalinxz . I've retitled this issue and marked it "Good first issue" for anyone who drives by and wants to contribute the feature. Thanks.

[2020-03-08 21:56] shacker commented on #88
Closing this for now. I'm having trouble finding any documentation about this, but I think it is legitimate for a third-party app like this one to assume that there is a populated username field in a running Django system. Even if that system is built to allow email-based logins, it should be populating username with *something* -- otherwise I would expect breakage like this all over the place. IO

[2020-03-08 21:56] #88 closed

[2020-04-06 17:57] thenewguy opened #102 "Social message response"
Could social messaging be integrated into this app so that it could be used as a central source to handle emails / facebook messages / etc?

[2020-04-12 17:45] shacker commented on #102
Hi @thenewguy I think that is out of scope for this app. Apps should do one thing and do them well. There are many ways to integrate social media services into your project, and those should be accomplished either by writing them or by installing other apps at the project level. Unless you have some specific idea of how social media and todo lists go together? (I honestly can't think of what the f

[2020-04-12 18:14] thenewguy commented on #102
Fair enough. I thought this could be used as a ticketing system where
multiple people could handle and respond.

The email system appears to have receivers and senders.

I was wondering if this system could be extended to support other receivers
and senders. But just as a generally good fit. For example, Facebook (or
other social media platforms where the pubic can comment). People submit a
questi

[2020-04-12 18:36] thenewguy commented on #102
To clarify, not so much about the social aspect as in talking to my friends. But adding another ways to ingest messages that are tagged and assigned for action.  I.e. customer submits question on Facebook about pricing -> assigned to sales. Customer submits question about how to fix something he purchased -> assigned to tech support.

[2020-04-13 05:48] shacker commented on #102
I'm sorry @thenewguy , but I'm just not seeing it. This seems like a really awkward workflow to me. I was very reluctant to allow the pull request for the email integration that's in place now, and this seems much farther afield. Plus, how would django-todo monitor parts of social sites for messages to ingest? The API work would be super hairy. And not all posts should be made into todo items, etc

[2020-04-13 05:48] #102 closed

[2020-04-16 16:27] Valenkebat opened #103 "Django"

[2020-04-17 05:55] shacker commented on #103
Huh? @Valenkebat did you mean to write something here? Closing this - let me know if you want to re-open and add the missing details.

[2020-04-17 05:56] #103 closed

[2020-06-25 07:59] datatalking opened #106 "Where do i place the Navigation CSS?"
I'm doing a complete reinstall and now I'm getting a crash when I try to login (which it should right I don't have the todo setup)
My front end skills are not sufficent to understand where the two css lines go.

stack trace error
`
$ python manage.py migrate todo
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/owner

[2020-06-26 05:35] shacker commented on #106
The error you're getting is because you haven't installed the project dependencies - you've specified django_extensions but haven't installed it (`pip install django-extensions` from within the env), or you haven't activated your environment.

As noted in docs, the CSS lines go in your project's base.html alongside other CSS and JS links.

[2020-07-13 10:52] NhaTrang opened #107 "TypeError: view must be a callable or a list/tuple in the case of include()."
How to modify the urls.py file when the file is trying to look for the views.py file?

[2020-07-16 17:39] shacker commented on #107
This is a Django question, not a todo question, but maybe we can help. What does your urls.py file look like now?

[2020-07-20 09:17] MKatereggaExigent opened #108 "Login Loop"
Good day,

I am trying to integrate the Django-to-do awesome package in my site following the step by step installation  guide at https://github.com/shacker/django-todo but I am stuck in an infinite loop.

**When I login and click on either "Todo Lists" or "My Tasks" I get redirected to: http://127.0.0.1:8000/dashboard/login/?next=/todo/**

**However, when I login I return to the home page without

[2020-07-21 06:05] shacker commented on #108
At the top of your urls.py you've defined the same identical dashboard path twice, and mapped both to django's login system. So once you log in, you're redirected to the dashboard, and your mapping says the dashboard should route to the login system. Remove the first definition of the dashboard path.

[2020-07-21 06:14] MKatereggaExigent commented on #108
Thank you @shacker  for the response. When I take the first out then I am unable to use the decorator `@login_required` in `views.py`. I was meant to post yesterday that I resolved the issue. My problem was not having created at least a group with a user as you indicate in the Overview on the Installation page. Thank you very much, this is a great application indeed!!!!

[2020-07-21 06:20] MKatereggaExigent opened #109 "Add Task Button not responding"
Hello here,

I am managed to integrate `django-todo` application in my app and everything works fine except the `Add Task` button that is not responding on click. I tried to `inspect` the page, edited its html `collapse show` and it worked, how can I resolve this in the `base.html`.

I do have `jquery` and `bootstrap` installed using `pip` and my header looks like this

`
<head>
    <title>My Tick

[2020-07-21 06:22] #108 closed

[2020-07-21 06:26] shacker commented on #109
The Add Task form is already present in the html, but is shown on click (as you've found). When you open your browser's inspector, do you not see any errors whatsoever? Just nothing? It almost sounds like you don't have jquery enabled at all. The sample HTML you showed there doesn't show it being loaded - can you show me where you're loading it and confirm there is no JS error in the console?

[2020-07-21 06:34] MKatereggaExigent commented on #109
@shacker yes you are right, just checked the console, `jquery is not installed`. I installed is using `pip install jquery` but it doesn't seem to have worked.

Here is the header:

`
<head>
    <title>My Ticketing Platform</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstra

[2020-07-21 08:54] MKatereggaExigent commented on #109
@shacker jquery is setup but now I am getting this error in console:

`<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>`

`Uncaught TypeError: Cannot set property 'onclick' of null `

[2020-07-22 07:21] MKatereggaExigent commented on #109
@shacker I resolved the issue. jQuery must come before bootstrap in the header of the base.html i.e.

`<head>`
`    <title>My Ticketing Platform</title>`
`    <meta charset="utf-8">`
`    <meta name="viewport" content="width=device-width, initial-scale=1">`
`    <script src="{% static "js/jquery-3.5.1.js" %}"></script>`
`    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/0.9.1/jquery

[2020-07-22 07:22] #109 closed

[2020-07-23 06:00] shacker commented on #109
Yeah, that was really a general web dev question, no relation to this project.

[2020-07-26 06:41] shacker commented on #106
Closing this - this is a general support question best suited for the django-users mailing list, no relation to this project.

[2020-07-26 06:41] #106 closed

[2020-07-26 06:41] shacker commented on #107
No response from user, and this is not a django-todo issue. Closing.

[2020-07-26 06:41] #107 closed

[2020-09-10 15:52] terencecollins opened #110 "pip install django-todo didn't install bleach"
Not sure if it was just me, but when I had installed via pip, I later had to manually pip install bleach.

[2020-11-01 21:47] shacker commented on #110
Hi @terencecollins - I just had a second look, and confirmed that bleach is right there in the [Pipfile](https://github.com/shacker/django-todo/blob/master/Pipfile#L13), as well as in Pipfile.lock. So I am guessing that maybe you didn't install dependencies via the Pipfile? It's tricky with there being so many dependency ecosystems out there. In the next iteration, I might move to a different inst

[2020-11-01 21:47] #110 closed

[2020-12-12 17:22] sum35h commented on #97
Hi @dalinxz , I would like to work on this, if the issue is still open.

[2020-12-13 20:32] shacker commented on #97
Sure thing @sum35h - this still needs to be done, and I welcome your pull request any time. Thanks in advance.

[2021-01-06 18:12] fross123 opened #112 "Match registered users sending emails to tracker and add them to "created by""
Kind of a random feature suggestion/request I guess, and relatively new to GitHub so please bear with me. I was able to add the above feature by trying to match the user with an email if "best_task" is none (So it only tries to find a match if a new task is being created). I'm using django-todo as a public-ish support management tool.

The goal for me was to make it so users could send an email to

[2021-01-14 17:34] aaroosh-07 commented on #97
@shacker can i take up this issue

[2021-01-15 07:25] shacker commented on #97
@sum35h Have you started on this? If not, do you mind of @aaroosh-07 works on it?

[2021-01-29 10:37] 1hanzla100 commented on #97
@shacker I want to fix this issue. Assign it to me

[2021-01-30 07:03] shacker commented on #97
@1hanzla100 I don't assign things here - most OSS projects don't. Either communicate with others in this thread, or just be first with a good pull request!

[2021-02-08 06:58] shacker commented on #112
@fross123 This sounds like a very good idea. I'd be happy to take a look at your pull request. Thanks in advance!

[2021-03-05 12:21] f4i5i commented on #65
can you share your changes

[2021-03-05 16:42] james1293 commented on #65
I'm sorry that I never did share mine. I'm no longer working at the job where I was working on this, so I don't think that I would be able to access the code easily. If you decide to reimplement it, I wish you the best of luck.

[2021-03-05 17:35] f4i5i commented on #65
can you guide me how you done the task few tips

[2021-03-05 17:51] james1293 commented on #65
It has been 2 years, so I don't remember a lot of the details. It was something like this:

- Remove the `assigned_to` field [here](https://github.com/shacker/django-todo/blob/07cd041e948738d318b6e02bbab1ecd38fc21439/todo/models.py#L85).
- Add a field called `assigned_users` (or similar). It would look like this: `assigned_users = models.ManyToManyField(...)`.
- Run a database migration.
- Search

[2021-03-05 17:54] f4i5i commented on #65
okay what for selection of users from template

[2021-03-05 18:40] james1293 commented on #65
I think I started by making sure it worked using the default multi-select interface. Then, once I was sure that that worked, I figured out how to use the pretty widget from the Django admin. There's some advice [here](https://stackoverflow.com/questions/1698435/django-multi-select-widget) (I recommend reading the comments on that answer).

Does that make sense?

[2021-03-06 06:29] f4i5i commented on #65
![todo](https://user-images.githubusercontent.com/26020627/110197703-345e5880-7e6f-11eb-8e25-c980655658e5.png)

[2021-03-06 06:30] f4i5i commented on #65
it show something like this and the values not saving in db and i want to make check box to select multiple users

[2021-03-06 06:59] f4i5i commented on #65
![Uploading task 2.png…]()

[2021-03-06 07:00] f4i5i commented on #65
one error is this that it show account.customuser.none
![task 2](https://user-images.githubusercontent.com/26020627/110198338-8acd9600-7e73-11eb-8213-948943bcee79.png)

[2021-03-06 15:27] james1293 commented on #65
Did you add `form.save_m2m()` as discussed earlier in this thread? That may be the reason why it's not saving.

I've never tried doing the checkboxes.

[2021-03-07 17:39] f4i5i commented on #65
yes i do

[2021-03-07 18:31] james1293 commented on #65
I don't think there's much more I can do to help right now.

[2021-03-28 01:42] diogne commented on #65
I had the same issue of m2m fields being rendered with this "none" thing in a table. Have you tried to add something like this in the template ?
`<td>
{% for customuser in accounts.customuser.all %}
 {{ customuser.name }}
{% endfor %}
</td>`

This loop worked fine for me, I hope it will help you !
ps : first comment ever on GitHub - please let me know if I broke any etiquette ^^

[2021-03-28 18:11] james1293 commented on #65
@diogne thank you, hopefully @f4i5i finds that helpful! :slightly_smiling_face:

If you want, you can submit a pull request to accomplish what I never succeeded in finishing :sweat_smile:

By the way, just so you know about the feature: if you want to put multiple lines of code, a way to do it is to indent them, like this:

    these words have four spaces before them
    which makes them render a

[2021-03-28 23:20] diogne commented on #65
Many thanks for your kind reply and the tips ! I appreciate it !

[2021-03-31 22:18] deniz195 opened #118 "setup.py imports django, which it shouldnt"
When trying to use django-todo on heroku I find that it cannot be deployed automatically. Why? When installing via `pip -r requirements.txt` on a clean installation the `setup.py` of `django-todo` fails, because it tries to import django.

I have made a demo repo here: `https://github.com/deniz195/django-todo-fail`

I think that setup.py should not make any assumptions on the packages which are in

[2021-04-01 05:49] shacker opened #119 "Occasional crasher when importing CSVs"
Slightly awkward - I am the project's main author and filing this bug because I need help. I see occasional crash reports when people import  CSVs into the demo site. The tracebacks don't tell me anything useful beyond `Exception Value: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte`. I don't have access to the uploaded files because they're InMemory files. I've trie

[2021-04-01 05:51] shacker commented on #118
Not sure I understand the problem @deniz195 . Django is an absolute dependency for the project - it can't be used without Django, so naturally it is listed in the dependencies in setup.py. That's just the way things work.

Maybe you can tell us why you want to be able to install todo without its prerequisites?

[2021-04-01 06:18] deniz195 commented on #118
Hi @shacker , of course `django-todo` lists `django` as (runtime) requirement in setup.py - there is no problem here.

The problem occurs if you try the following:
1) Create an empty virtual environement
2) Create a `requirements.txt` with only one line: `django-todo`
3) In the virtual environment install via `pip install -r requirements.txt`

Result: An error in the setup.py is raised, since the

[2021-04-01 06:33] shacker commented on #118
I have not used Heroku before. It sounds like you are not saying that you want to use todo without Django, but only that in the Heroku environment, Django is provided in the path through other means, and does not need to be part of your requirements.txt or other manifest?

[2021-04-01 07:09] deniz195 commented on #118
Correct. No point using todo without django.

I found the bug using heroku, but you can easily reproduce it on your local machine in a clean virtual environment (see above).

I suspect that bug might have become visible with newer python and pip versions. (Possibly older versions have been more forgiving).

Did you check the pull request?

[2021-04-01 19:42] datatalking commented on #119
Hi Shacker,

I found an error of similar nature was reported by SO a few years back, I could check with my data scientist friends if this doesn't help out. https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte

[2021-04-01 20:40] datatalking commented on #119
One of the things i like about shaker/django-todo is doesn't crash.

Ok so further finds that without being able to check, I’d guess one of two things is happening: they’re passing a filepath instead of an object or the file isn’t utf-8 encoded.

Should we use a chardet type function to score the UTF as one of the approved types before importing, insert a "this file might need to be converted to u

[2021-04-03 06:45] shacker commented on #119
@datatalking Good theory - could be the file encoding. Maybe I (or one of us) just needs to intentionally save a CSV file without some other encoding and see what happens. We shouldn't need to warn though - if that turns out to be the problem, we could wrap the file opener so that it opens "as" UTF-8. Do you know of a good way to save a CSV as non-UTF-8 that you could test with? (or provide and I

[2021-04-03 07:02] shacker commented on #118
@deniz195 I understand the problem now, and your PR makes perfect sense. Thanks a bunch for the contribution!

[2021-04-03 07:02] shacker commented on #118
Merged.

[2021-04-03 07:02] #118 closed

[2021-07-31 22:02] EdgarPrada commented on #97
This improvement is already done. -Shouldn't this be marked as closed?
Great project. Thanks

[2021-08-03 06:05] shacker commented on #97
Thanks @EdgarPrada, right you are. Closing. Glad you enjoy the project!

[2021-08-03 06:05] #97 closed

[2021-08-23 00:27] datatalking commented on #64
@shacker I can take a look at this.

So from what I understand @xor0x says is a bug but we are calling an enhancement that when a comment is added to a task. The drop down comes up, but instead the enhancement is to disable the pop up window that displays
![Screen Shot 2021-08-22 at 5 25 02 PM](https://user-images.githubusercontent.com/11813209/130375159-3b79a755-9f3f-46c4-bacc-ac0c62283bbd.png)

[2021-09-22 06:20] bernd-wechner opened #126 "Failed migration"
Love this. Just taking a quick spin  plugging it into a development version of our tendenci site (for a club)

Following **Installation** here: https://django-todo.readthedocs.io/en/latest/

1. I set `SITE_ID = 1`, all good
2. I did `pip install django-todo`, all good
3. I added it to INSTALLED_APPS: `INSTALLED_APPS += ['todo']`
4. I tried migrating: `python manage.py migrate todo`

But it bombs w

[2021-09-22 08:36] bernd-wechner opened #128 "Self Test Fails"
Just tried the tests as per the instructions here:

https://django-todo.readthedocs.io/en/latest/

under **Running Tests**. One fails. Hints of a design issue.

[code]

[2021-09-23 11:03] bernd-wechner commented on #119
@shacker, I run into file encoding issues with CSV files a lot. I have written a couple of small routines I use routinely to fix this. I will post them here later for you.

[2021-09-23 11:16] bernd-wechner commented on #119
Here's the function I wrote:

[code]
and how I use it:

[code]

Basically solved all my encoding issues with diverse CSV files I've encountered.

[2021-09-23 15:01] bernd-wechner commented on #128
This is fixed by: https://github.com/shacker/django-todo/pull/129

[2021-09-23 15:03] bernd-wechner commented on #65
This is a great idea and it would rock if someone PRed it.

[2021-09-28 03:42] zidingz opened #131 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@0xdhinu) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2021-09-28 05:46] shacker commented on #119
@bernd-wechner Awesome, thanks a bunch! Do you by chance have a CSV that can crash django-todo on import? If so, can you share the file?

[2021-09-28 06:19] bernd-wechner commented on #119
Alas no, not I. No need for CSV import yet. I do have some PRs open for you though fixing stuff that I did need ;-)

[2021-09-28 07:20] shacker commented on #131
SECURITY.md has been added (github only, not pypi), thank you.

./s

On Mon, Sep 27, 2021 at 10:52 PM Scot Hacker ***@***.***> wrote:

--

d(-_-)b
forsan et haec olim meminisse juvabit

[2021-09-29 00:09] #128 closed

[2021-10-10 13:56] palrohitg commented on #65
@bernd-wechner  what is the credentials to log

[2021-10-10 21:43] bernd-wechner commented on #65
Sorry,  but I'm not sure what you're asking.  Can you clarify?

[2021-11-25 13:46] inakhai opened #132 "Please do docker-compose"
Dear Shacker, Could you please create docker?

[2021-11-26 06:38] shacker commented on #132
@inakhai What would be the advantage? Django has re-usable apps and python has virtualenv so we don't need overly complicated systems like Docker. I didn't even realize re-usable apps could be Dockerized. Can you describe the use case?

[2022-01-31 16:40] datatalking commented on #132
@inakhai There are a few cases where docker can be helpful but its more appropriate for larger scaleable application. The djanto-todo is generally more thought of as a small application that while it is growing in popularity its not a larger scaling project.

Why do you feel it is appropriate or advantageous?

https://semaphoreci.com/community/tutorials/dockerizing-a-python-django-web-application

[2022-02-04 06:10] shacker commented on #132
I think we're miscommunicating. I understand why would one would Dockerize an entire Django project - so that it can be deployed identically on any server or operating system. One generally chooses between virtualenvs and Docker. What I don't understand is why anyone would Dockerize something like Django-todo, which is essentially a library, not a web application.

Are there examples of other Djan

[2022-02-25 19:53] xtiansimon opened #134 "Demo `500: Hard Crash` when entering comments"
`500: Hard Crash: Something's gone dreadfully wrong. We're on it.`

I created a list and toyed with adding items as `staffer`, and then logging out and back in as `user1`--tried to flip all the switches and push all the buttons. During the demo I has several crashes, and most predictably when entering comments.

Is there a known issue with the server, or with the project which may cause this?

[2022-02-26 08:39] shacker commented on #134
@xtiansimon From logs, it looks like you might have been using the site right when the db was being refreshed. Sorry about that. Can you reproduce the issue?  Thanks.

[2022-02-27 07:38] datatalking commented on #132
We are looking at using django todo as a webapp and hosting it as a private vpc on aws so having a docker setup would help for redundancy. Its something I've had to think about, still in process but we are looking into a web app for multi location users.

[2022-02-28 07:18] shacker commented on #132
@datatalking Maybe what you are looking for is a dockerfied version of [GTD](https://github.com/shacker/gtd), which is a reference example of how to make a Django app that includes Django-todo? I can see how it would make sense to Dockerize GTD which is a web application. I don't understand how it makes sense to Dockerize this Django-todo library, which is NOT a web application.

[2022-03-01 01:55] datatalking commented on #132
@shacker dockerized web app is what i mean, I've been putting a few apps in Docker and enjoying the process. Do you know of others that have already done this or would this be something feasible we could look at adding?

[2022-03-01 06:57] shacker commented on #132
@datatalking Sure, you can open a parallel ticket on the GTD project  - that is a web app. But it doesn't make any sense in this repo. However, if you do open a ticket over there, will you be willing to do the work? I don't have the free time or the Docker expertise.

[2022-03-05 23:52] shacker commented on #134
No response from the OP on this. I'll try to make the site resilient during db downtimes in the future. Closing.

[2022-03-05 23:52] #134 closed

[2022-03-05 23:53] shacker commented on #132
Closing wrt my comment above - feel free to open a PR in the GTD repo where something like this belongs.

[2022-03-05 23:53] #132 closed

[2022-04-04 16:50] datatalking commented on #55
@multun where is this 'task merging code'?

I'm wondering if the current setup of all tasks being part of a 'group' would be a similar situation but we use this for projects and they have to be manually done and you call them 'groups', but we want tobe able to show groups as a column. Note below that as you start on a macro level the group name is shown and we want/prefer/need it to show as thats

[2022-04-04 17:00] datatalking commented on #64
@xor0x I've got a bit more time and found you replied to my comments. I was trying to summarize your challenge that it was creating duplicates when you hit refresh... you responded with 'confused' emoji so I'm asking if I was correct in understanding your issue.

[2022-04-04 18:11] multun commented on #55
@datatalking here it is: https://github.com/shacker/django-todo/blob/master/todo/views/task_detail.py#L61

It does not show up in the demo website, which probably does not have django-autocomplete-light installed (it is optional)

[2022-04-06 04:59] xor0x commented on #64
@datatalking  You're right.

[2022-05-13 16:53] rshn-dev opened #136 "manage.py is missing"
I tried following the https://django-todo.readthedocs.io/en/latest/ and after running pip install django-todo and after running python manage.py runserver, it is giving error "can't open file 'E:\django-todo\manage.py': [Errno 2] No such file or director". There is no file named manage.py . Please suggest.

[2022-05-15 05:25] shacker commented on #136
@rshn-dev I think you are misunderstanding what this project is. It is not a Django *project*, it's a Django *app* that you install into *your* project. It's just a python dependency like any other dozens of dependencies your project relies on (take a closer look at the docs).

See the related gtd project if you're looking for a runnable website.

[2022-05-15 05:25] #136 closed

[2022-05-28 14:04] nhondong opened #138 "python3 manage.py migrate todo: multiple exception types must be parenthesized"
Environment:
Ubuntu 22.04 with python 3.10
After adding todo and executing: python3 manage.py migrate todo i get:

File "/home/nhondong/.local/lib/python3.10/site-packages/todo/__init__.py", line 67
    except subprocess.CalledProcessError, e:
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
SyntaxError: multiple exception types must be parenthesized

[2022-05-29 04:49] shacker commented on #138
@nhondong Thank you, I'll take care of this shortly.

[2022-06-12 21:11] shacker commented on #138
@nhondong Something doesn't make sense here. Your report mentions `/site-packages/todo/init.py", line 67` but [here](https://github.com/shacker/django-todo/blob/master/todo/__init__.py) is that module. As you can see, it only goes to like 19. And there is no reference to `subprocess` in the whole codebase.

I can only conclude that you are working with someone else's repackaged and modified versio

[2022-06-12 21:11] #138 closed

[2022-09-16 12:08] CarloCogni opened #139 "todo/home.html not extending project home.html"
Carlo

[2022-09-16 12:25] #139 closed

[2022-09-16 12:25] CarloCogni commented on #139
a